*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
}

body{

background:#F8FAFC;
color:#111827;

}

.container{

display:grid;

grid-template-columns:340px 1fr;

height:100vh;

}

.left{

padding:30px;

background:white;

border-right:1px solid #E5E7EB;

}

.left h1{

font-size:32px;

margin-bottom:30px;

}

.card{

background:white;

border:1px solid #E5E7EB;

border-radius:18px;

padding:20px;

margin-bottom:20px;

box-shadow:0 5px 20px rgba(0,0,0,.05);

}

.card h2{

font-size:18px;

margin-bottom:15px;

}

input,select{

width:100%;

padding:14px;

border-radius:12px;

border:1px solid #D1D5DB;

margin-bottom:15px;

font-size:15px;

outline:none;

}

input:focus,
select:focus{

border-color:#10B981;

}

button{

width:100%;

padding:14px;

border:none;

border-radius:12px;

cursor:pointer;

font-size:15px;

font-weight:600;

transition:.2s;

}

#addBtn{

background:#10B981;

color:white;

}

#addBtn:hover{

background:#059669;

}

.right{

padding:40px;

overflow:auto;

}

.bill-card{

background:white;

border-radius:20px;

padding:30px;

box-shadow:0 10px 40px rgba(0,0,0,.05);

}

.bill-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

}

table{

width:100%;

border-collapse:collapse;

}

th{

text-align:left;

padding:15px;

background:#F9FAFB;

}

td{

padding:15px;

border-bottom:1px solid #F1F5F9;

}

.summary{

display:flex;

justify-content:flex-end;

margin-top:30px;

}

.summary h1{

font-size:34px;

color:#10B981;

}

.buttons{

display:flex;

gap:15px;

margin-top:30px;

}

.save{

background:#10B981;

color:white;

}

.share{

background:#3B82F6;

color:white;

}

.new{

background:#111827;

color:white;

}

.save:hover{

background:#059669;

}

.share:hover{

background:#2563EB;

}

.new:hover{

background:black;

}

.delete-btn{

background:#EF4444;

color:white;

padding:8px 12px;

border-radius:8px;

}

@media(max-width:900px){

.container{

grid-template-columns:1fr;

}

.left{

border-right:none;

border-bottom:1px solid #E5E7EB;

}

.buttons{

flex-direction:column;

}

}
